apiVersion: apps/v1
kind: Deployment
metadata:
  name: task-manager
  namespace: apps
spec:
  replicas: 1 
  selector:
    matchLabels:
      app: task-manager
  template:
    metadata:
      labels:
        app: task-manager
    spec:
      containers:
        - name: task-manager
          image: sumithsingh001/task-manager:3d0883f
          ports:
            - containerPort: 3000
