apiVersion: apps/v1
kind: Deployment
metadata:
  name: task-manager
  namespace: apps
spec:
  replicas: 1 
  selector:
    matchLabels:
      app: task-manager
  template:
    metadata:
      labels:
        app: task-manager
    spec:
      containers:
        - name: task-manager
          image: sumithsingh001/task-manager:3d0883f
          ports:
            - containerPort: 3000
          resources:
            requests:
              memory: "128Mi"
              cpu: "250m"
            limits:
              memory: "256Mi"
              cpu: "500m"
          env:
            - name: NODE_ENV
              value: "production"
