apiVersion: v1
kind: Service
metadata:
  name: hello-app-service
  namespace: apps
spec:
  selector:
    app: hello-app
  ports:
  - protocol: TCP
    port: 80
    targetPort: 80
  type: ClusterIP