# base/kustomization.yaml
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- platform-engineering-lab\platform\namespace\platform.yaml
- platform-engineering-lab\platform\namespace\apps.yaml
